<!doctype html>

<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>VAR - Level {{ password_num }}</title>
</head>

<body>
  <div id="heading" class="green-glow" style="font-size: x-small;">
    <pre>
           _...----.._
        ,:':::::.     `>.
      ,' |:::::;'     |:::.
     /    `'::'       :::::\
    /         _____     `::;\
   :         /:::::\      `  :
   | ,.     /:::::::\        |
   |;:::.   `::::::;'        |
   ::::::     `::;'      ,.  ;
    \:::'              ,::::/
     \                 \:::/
      `.     ,:.        :;'
        `-.::::::..  _.''
           ```----'''
      </pre>
    <pre>
        __      __         _____    
        \ \    / / /\     |  __ \   
         \ \  / / /  \    | |__) |  
          \ \/ / / /\ \   |  _  /   
           \  / / ____ \ _| | \ \ _ 
            \(_)_/    \_(_)_|  \_(_)
      </pre>
  </div>
  <div id="subheader">
    <div class="green">By Commercial Intuition Ltd.</div>
    <div class="green">System Status: <span class="red-glow">HACKED</span></div>
  </div>
  <div id="content">
    <p><span class="green-glow">Well done!</span>  You have found all the passwords and can now access the <span class="green-glow">VAR system</span>!</p>
    <p>For you final challenge, you must fix the <span class="green-glow">Python code</span> which works out whether a <span class="green-glow">goal</span> has been scored or not. </p>
    <p>Click Next when you're ready to give it a go. </p>
    <form method="POST">
      <input type="submit" class="submit" value="Next">
    </form>
  </div>
</body>

</html>