<!doctype html>

<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>VAR - Level {{ password_num }}</title>
</head>

<body>
  <div id="heading" class="green-glow" style="font-size: x-small;">
    <pre>
           _...----.._
        ,:':::::.     `>.
      ,' |:::::;'     |:::.
     /    `'::'       :::::\
    /         _____     `::;\
   :         /:::::\      `  :
   | ,.     /:::::::\        |
   |;:::.   `::::::;'        |
   ::::::     `::;'      ,.  ;
    \:::'              ,::::/
     \                 \:::/
      `.     ,:.        :;'
        `-.::::::..  _.''
           ```----'''
      </pre>
    <pre>
        __      __         _____    
        \ \    / / /\     |  __ \   
         \ \  / / /  \    | |__) |  
          \ \/ / / /\ \   |  _  /   
           \  / / ____ \ _| | \ \ _ 
            \(_)_/    \_(_)_|  \_(_)
      </pre>
  </div>
  <div id="subheader">
    <div class="green">By Commercial Intuition Ltd.</div>
    <div class="green">System Status: <span class="red-glow">HACKED</span></div>
  </div>
  <div id="content">
    <p>Enter password {{ password_num }}:</p>
    <form method="POST">
      <input type="password" name="password" autocomplete="off" class="input" autofocus>
      <input type="submit" class="submit" value="Submit">
    </form>
    {% if error %}
    <p class="red-glow">Incorrect, try again.</p>
    {% endif %}
    <p><span class="green-glow">Hint:</span> {{ hint }}</p>
  </div>
</body>

</html>