<!doctype html>

<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>VAR - Start</title>
</head>

<body>
  <div id="heading" class="green-glow">
    <pre>
           _...----.._
        ,:':::::.     `>.
      ,' |:::::;'     |:::.
     /    `'::'       :::::\
    /         _____     `::;\
   :         /:::::\      `  :
   | ,.     /:::::::\        |
   |;:::.   `::::::;'        |
   ::::::     `::;'      ,.  ;
    \:::'              ,::::/
     \                 \:::/
      `.     ,:.        :;'
        `-.::::::..  _.''
           ```----'''
      </pre>
    <pre>
        __      __         _____    
        \ \    / / /\     |  __ \   
         \ \  / / /  \    | |__) |  
          \ \/ / / /\ \   |  _  /   
           \  / / ____ \ _| | \ \ _ 
            \(_)_/    \_(_)_|  \_(_)
      </pre>
  </div>
  <div id="subheader">
    <div class="green">By Commercial Intuition Ltd.</div>
    <div class="green">System Status: <span class="red-glow">HACKED</span></div>
  </div>
  <div id="content">
    <p>You will need to enter 3 passwords, then fix the code to restore VAR to service.</p>
    <p>Enter your team name to begin:</p>
    <form method="POST">
      <input type="text" name="team_name" placeholder="Team Name" autocomplete="off" class="input" autofocus>
      <input type="submit" class="submit" value="Start">
    </form>
  </div>
</body>

</html>